  
<button id="button-example" class="example">Hover me!</button>

<style>
  #button-example {
    cursor: pointer;
    margin: 20px auto;
    display: block;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-size: 200% auto;
    transition: background-position ease 500ms;
    color: white;
  }
  #button-example:hover {
    background-position: right center;
  }
</style>